.swiftpm/xcode
.build/index-build
HistogramSampleApp/HistogramSampleApp.xcodeproj/project.xcworkspace/xcuserdata/juniperphoton.xcuserdatad/UserInterfaceState.xcuserstate
HistogramSampleApp/HistogramSampleApp.xcodeproj/project.xcworkspace/xcuserdata/juniperphoton.xcuserdatad/UserInterfaceState.xcuserstate
